<h1>Beer clubs</h1>

<table class="table table-striped">
 <thead>
   <th>Name</th>
   <th>City</th>
   <th>Members</th>
 </thead>
 <% @beer_clubs.each do |club| %>
   <tr>
     <td><%= link_to club.name, club %></td>
     <td><%= club.city %></td>
     <td><%= club.users.count() %></td>    
   </tr>
 <% end %>
</table>

<%= link_to('New Beer club', new_beer_club_path, class:'btn btn-primary') if current_user %>
