<div data-controller="ratings" class="ratings mb-4">
  <% @user.ratings.each do |rating| %>
    <div class="rating">
      <% if @user == current_user %>
        <input type="checkbox" name="ratings[]" data-ratings-target="rating" value="<%= rating.id %>"/>
      <% end %>
      <span>
        <%= link_to "#{rating.score} #{rating.beer.name}", rating, data: { turbo_frame: "rating_details" } %>
      </span>
    </div>
  <% end %>
  <% if @user == current_user %>
    <div>
      <span>select all</span>
      <input type="checkbox" name="all_ratings" data-action="ratings#toggleAll"/>
    </div>
    </br>
    <button data-action="click->ratings#destroy">Delete selected</button>
  <% end %>
</div>