<h1>Styles</h1>

<div>
<% @styles.each do |style| %>
  <h3><%= link_to style.name, style %></h3>
  <p><%= style.description %></p>
<% end %>
</div>

<%= link_to "New style", new_style_path, class:'btn btn-primary' %>
