<h1>Breweries</h1>

<div id="breweries">
  <%= render "brewery_list", breweries: @retired_breweries %>
</div>


<%= link_to('New Brewery', new_brewery_path, class: 'btn btn-primary') if current_user %>
