<h1>Breweries</h1>

<%= turbo_frame_tag "active_breweries_frame", src: active_breweries_path do %>
  searching active breweries...
<% end %>

<%= turbo_frame_tag "retired_breweries_frame", src: retired_breweries_path do %>
<% end %>

<%= link_to('New Brewery', new_brewery_path, class: 'btn btn-primary') if current_user %>
