<%= render @brewery %>

<div>
<p><%= button_to"Change activity", toggle_activity_brewery_path(@brewery.id), class: "btn btn-primary" %></p>
 <%= edit_and_destroy_buttons(@brewery) %>
 <p><%= link_to "Back to breweries", breweries_path %></p>
</div>
